body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: 'VT323', monospace;
}

body,
.snake {
  background-color: #000000;
}

#game-board {
  border-radius: 100px;
  display: grid;
  grid-template-columns: repeat(20, 20px);
  grid-template-rows: repeat(20, 20px);
  margin: 5px;
}

.game-border-1 {
  border: #595f43 solid 10px;
  border-radius: 30px;
  box-shadow: inset 0 0 0 10px #0beffff8;
}

.game-border-2 {
  border: #abb78a solid 8px;
  border-radius: 26px;
  box-shadow: inset 0 0 0 10px #0084ff;
}

.game-border-3 {
  border: #18a3ff solid 30px;
  border-radius: 20px;
  box-shadow: inset 0 0 0 5px #00e1ff;
}

#instruction-text {
  position: absolute;
  top: 60%;
  color: #0051ff;
  width: 300px;
  text-align: center;
  text-transform: capitalize;
  padding: 30px;
  margin: 0;
}

.scores {
  display: flex;
  justify-content: space-between;
}

#score {
  color: #00d9ff;
}

#score,
#highScore {
  font-size: 40px;
  font-weight: bolder;
  margin: 10px 0;
}

#highScore {
  color: #00b7ff;
  display: none;
}

.game-border-3,
#logo {
  background-color: #ffffff;
}

.snake {
  border: #000000 1px dotted;
}

.food {
  background-color: #ff00f2;
  border: rgb(0, 0, 0) 5px solid;
}

#logo {
  position: absolute;
}